<!-- START CONTENT -->
<div class="content">

  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">考勤信息</h1>

    <!-- Start Page Header Right Div -->
    <div class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">导入</a>
      </div>
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <!-- End Page Header -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!-- START CONTAINER -->
  <div class="container-default">

    <div class="panel panel-default">

      <div class="panel-body table-responsive">

        <table class="table table-striped">
          <thead>
          <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>出勤天数</td>
            <td>加班天数</td>
            <td>加班天数</td>
            <td>加班天数</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td># <b>9652</b></td>
            <td>Kode Gaming Laptop</td>
            <td>John Doe</td>
            <td>12/10/2015</td>
            <td>As we got further and further away, it [the Earth] diminished in size.</td>
            <td>Credit Card</td>
          </tr>
          <tr>
            <td># <b>1963</b></td>
            <td>New Season Jacket</td>
            <td>Jane Doe</td>
            <td>12/10/2015</td>
            <td>As we got further and further away, it [the Earth] diminished in size.</td>
            <td>Paypal</td>
          </tr>
          <tr>
            <td># <b>9652</b></td>
            <td>IO Mouse</td>
            <td>Jonathan Doe</td>
            <td>12/10/2015</td>
            <td>As we got further and further away, it [the Earth] diminished in size.</td>
            <td>Credit Card</td>
          </tr>
          <tr>
            <td># <b>9651</b></td>
            <td>Doe Bike</td>
            <td>Jonathan Doe</td>
            <td>12/10/2015</td>
            <td>As we got further and further away, it [the Earth] diminished in size.</td>
            <td>Credit Card</td>
          </tr>
          <tr>
            <td># <b>6962</b></td>
            <td>Zets Baseball Bat</td>
            <td>Jonathan Doe</td>
            <td>12/10/2015</td>
            <td>As we got further and further away, it [the Earth] diminished in size.</td>
            <td>Credit Card</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>



  </div>
  <!-- END CONTAINER -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->


  <!-- Start Footer -->
  <div class="row footer">
    <div class="col-md-6 text-left">
      Copyright © 2015 <a href="#/" target="_blank">xiaoji</a> All rights reserved.
    </div>
    <div class="col-md-6 text-right">
      Design and Developed by <a href="#/" target="_blank">xiaoji</a>
    </div>
  </div>
  <!-- End Footer -->


</div>
<!-- End Content -->
